<header class="header">
	<div class="header__container">
		<a class="header__logo" href="https://t.me/cy66a"></a>
		<div class="header__menu menu">
			<div class="menu__icon">
				<span></span>
			</div>
			<nav class="menu__body">
				<ul class="menu__list">
					<li>
						<a class="menu__link" href="#" data-goto=".page__section_1">Главная</a>
					</li>
					<li>
						<a class="menu__link" href="#" data-goto=".page__section_2">Основное меню</a>
						<span class="menu__arrow menu__arrow--1"></span>
						<ul class="menu__sub-list menu__sub-list--1">
							<li>
								<a class="menu__sub-link" href="#">Заказать вёрстку</a>
							</li>
							<li>
								<a class="menu__sub-link" href="#">Отправить макет на проверку</a>
							</li>
							<li>
								<a class="menu__sub-link" href="#">Хочу работать у вас</a>
							</li>
							<li>
								<a class="menu__sub-link" href="#">Есть предложение по работе с клиентами</a>
								<span class="menu__arrow menu__arrow--2""></span>
								<ul class=" menu__sub-list menu__sub-list--2">
							<li>
								<a href="#" class="menu__sub-link">У меня есть офер</a>
							</li>
							<li>
								<a href="#" class="menu__sub-link">Сделать партнёром</a>
							</li>
						</ul>
					</li>
				</ul>
				</li>
				<li>
					<a class="menu__link" href="#" data-goto=".page__section_3">Наши сервисы</a>
				</li>
				<li>
					<a class="menu__link" href="#" data-goto=".page__section_4">Контакты</a>
				</li>
				</ul>
			</nav>
		</div>
		<a class="header__phone phone" href="tel:+7(952)390-69-99">
			<img class="phone__logo" src="assets/images/phone.svg" alt="Phone">
			<span class="phone__number">+7 (952) 390-69-99</span>
		</a>
	</div>
</header>