$primary: #131417;
$secondary: #252830;
$white: #FAFAFA;
$black: #000;
$redorange: #eb5757;
$orange: #F2994A;

$sidebar-width: 300px;

$tablet-bp: 991px;
$ipad-bp: 768px;
$mobile-bp: 575px;
$iphone-bp: 376px;
